body {
    margin: 10px;
    margin-top: 0px;
    font-family: playfair display;
}

.navigation {
    background-color: rgba(226, 226, 226, 0.7);
    height: 60px;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 10;
    top: 0;
    align-items: center;
}
.about {
    align-items: center;
}

.link {
    background-color: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}


.dropdown > .link:focus {
    color: pink;
}

.dropdown a, .link:hover {
    color: pink;
    padding-bottom: 5px;
}


.dropdown {
    position: relative;
    color: inherit;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: 30px;
    line-height: 1.5rem;
    background-color: white;
    padding:10px;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: auto;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}

.title {
    padding-bottom: 100px;
}
 .nav-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top:20px;
 }

 .nav-list li {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    padding-right: 20px;
    color: grey;
    align-items: center;
}

.nav-list a:hover {
    color: pink;
}

.title {
font-size: 2rem;
color: palevioletred;
text-align: center;
padding: 30px;
}

.main-grid{
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

@media (min-width: 748px) {
    .main-grid {
        display: grid; 
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: 50% 20%;
        grid-gap: 20px;
        align-items: center;
        justify-items: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 0px;
    }
}

.main-grid img.archie-photo {
    border-radius: 9px;
    box-shadow: rgb(172, 172, 172) 8px 8px 10px 1px;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
}
.archie {
    grid-column-start: span 2;
    margin-left: auto;
    margin-top: 50px;
}

.archie-intro {
    grid-column-start: span 2;
    grid-row-end:3;
    padding-top: 100px;
    border-radius:8px;
    font-size: 1rem;
    color: grey;
    text-align:justify;
    margin-top: auto;
    margin-left: auto;
    }
    
.archie-text{
    padding-top: 5px;
    margin-top: 5px;
}

.about-creator {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    margin-left: auto;
    margin-right: auto;
    color: grey;
    width: 250px;
    height: 500px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 120px;
    margin-right: 100px;
}

.about-creator img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    justify-content: space-around;
}

.about-creator p{
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.name {
    color: rgb(85, 84, 84);
    font-size: 1.2rem;
}

.follow-me {
        color: #2f2d2d;
        letter-spacing: 3px;
        margin-bottom: 5px;
        padding-bottom: 0;
        text-align: center;
        text-transform: uppercase;
        border-top: 1px solid grey;
}

.follow-me-span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    top: -13px;
    align-items: center;
}
.follow-me-links li {
    display: inline-block;
    padding-left: 40px;
    align-items: center;
}

.follow-me-links a{
    color:  palevioletred;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(177, 176, 176);
    padding-left: 20px;
    padding-right: 20px;
}
footer .nav{
    font-size: 0.8rem;
}

.footer-links a{
    display: inline-block;
    text-decoration: none;
    color: white;
}
.footer-links a:hover {
    color: palevioletred;
}